<div class="container">
  <div class="row justify-content-center mx-2 my-2">
    <div class="col-sm-12 col-md-6 col-xs-12 d-flex flex-column  justify-content-center">

      <div class="row px-2">
        <div class="col-12 text-left">
          <h3 class="font-weight-bold ">Countries</h3>
        </div>
      </div>

      <!--added the search bar-->
      <div class="row px-2 ">
        <div class="col-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Countries" [(ngModel)]="searchWord" (ngModelChange)="search($event)"  aria-label="search a country">
            <span class="input-group-text" id="basic-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg></span>
          </div>
        </div>
      </div>


      <div class="row border border-dark mx-2 my-2" *ngFor="let country of c">
        <div class="col-xl-4 col-sm-12 mt-2 py-2">
          <img src={{country.flag}} class="img-fluid " alt="flagImage">
        </div>
        <div class="col-xl-8 py-2">
          <div class="row font-weight-bold">
            <div class="col-12"  >
              <h5>Name: {{country.name}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h6>Currency: {{country.currencies[0].name}}</h6>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-12">
              <h6>Capital: {{country.capital}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="d-flex">

              <div class="col-md-6 mx-1">
                <button type="button" class="col-12 btn btn-outline-primary"><a class="">Show Map</a></button>
              </div>
              <div class="col-md-6 ">
                <button type="button" class="col-12 btn btn-outline-primary"><a [routerLink]="['/details',country.alpha3Code]">Details</a></button>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
