<div class="container ">
  <div class="row ">
    <div class="col d-flex flex-column">
      <!--header-->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="font-weight-bold pt-3">{{countryDetail.name}}</h3>
        </div>
      </div>
      <div class="row">
        <div class=" col-sm-12 col-md-4 col-lg-4">
          <img src="{{countryDetail.flag}}" class="img-fluid " alt="country">
        </div>
        <div class=" col-sm-12 col-md-8 col-lg-8">
          <div><h6><strong>Native Name:</strong> {{countryDetail.nativeName}}</h6></div>
          <div><h6><strong>Capital:</strong> {{countryDetail.capital}}</h6></div>
          <div><h6><strong>Population:</strong> {{countryDetail.population}}</h6></div>
          <div><h6><strong>Region:</strong> {{countryDetail.region}}</h6></div>
          <div><h6><strong>Sub-region:</strong> {{countryDetail.subregion}}</h6></div>
          <div><h6><strong>Area:</strong> {{countryDetail.area}} km<sup>2</sup></h6></div>
          <div><h6><strong>Country Code:</strong> {{countryDetail.callingCodes}}</h6></div>
          <div><h6><strong>Languages:</strong> {{countryDetail.languages[0].name}}</h6></div>
          <div><h6><strong>Currencies:</strong> {{countryDetail.currencies[0].name}}</h6></div>
          <div><h6><strong>Timezones:</strong> {{countryDetail.timezones}}</h6></div>
        </div>
      </div>


    </div>
  </div>

  <div class="row border border-dark my-2">
    <div class="col-sm-12">
      <h5 class="font-weight-bold  mb-5 pt-3">Neighbour Countries</h5>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xl-4" *ngFor="let flag of countryDetail.borders">
        <img alt= "border-flag" class=" img-fluid" src="https://restcountries.eu/data/{{flag.toLowerCase()}}.svg">
      </div>
    </div>
  </div>
</div>

